extends layout.pug

block content
  h1= New Book
  h2= error
    li=Title is required
    li=Author is required
  p Title
  p Author 
  p Genre 
  p Year
  br
  p(input type="submit" value="Create New Book") 
  a(class="button" href="all_books.html") Cancel