doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
        h1= Books
        p button
        table 
            th Title
            th Author
            th Genre
            th Year
        br
        a(class="button" href="book_detail.html") 