extends layout.pug

block content
  h1= New Book
    p Title
    p Author 
    p Genre 
    p Year
  br
  p(input type="submit" value="Create New Book") 
    a.btn-link(href=`${book}`) Create New Book
  a(class="button" href="all_books.html") Cancel
  