extends layout

block content
  h1= Update Book
  p Title
  p Author
  p Genre 
  p Year
  br
    p(input type="submit" value="Update Book")
    a(class="button" href="all_books.html") Cancel
    p(input type="submit" value="Delete Book")